@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000c6;

}

.logo img {
    height: 100px;
}


.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 4px;
    background: #005F73;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}


.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}


.menu {
    display: flex;
}

.menu ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    text-decoration: none;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    color: #000000cf;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        top: 90px;
        right: 0;
        background-color: #94D2BD;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        z-index: 2;
    }

    .menu.active {
        display: flex;

    }

    .menu a {
        color: #005F73;
        text-decoration: none;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu li {
        margin: 10px 0;
    }

    .hamburger {
        display: flex;
    }
}

.container-macro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.title-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 1s forwards;

}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

h1,
p,
.btn-contato {
    text-align: center;
    margin: 10px 0;
}

.title-box h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    text-align: left;
    font-size: 2.5rem;
    font-family: "Poppins", serif;
    color: #005F73;
    margin-bottom: 5%;
    margin-top: 10%;
    position: relative;
    transform: translateY(-20px);
    transition: opacity 1s ease, transform 1s ease;
}

.title-box p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    font-family: "Poppins", serif;
    font-weight: 300;
    text-align: left;
    color: #495057;
    font-size: 1.2rem;
}

.btn-contato {
    width: 200px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: #005F73;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    color: #fff;
    margin-top: 10%;
    font-size: 1rem;
}

.btn-contato:hover {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    background-color: transparent;
    color: #000;
    border: 1px solid #005F73;
    box-shadow: none;
}

.image-box {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    width: 100%;
    height: 380px;
    overflow: hidden;
    position: relative;
    transform: translateX(-100%);
    transition: transform 1s ease;

}

.image-box.active,
.title-box h1 {
    transform: translateX(0);

}

.image-box img {
    width: 80%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.sobre-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sobre-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;

}

.sobre-box h3 {
    font-size: 1.75;
    font-weight: 700;
    color: #495057;
}

.sobre-box p {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    width: 90%;
    margin-bottom: 5%;
}

.servicos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ECEFF1;
    padding: 20px;
}

.title-servicos {
    font-size: 1.375rem;
    font-weight: 600;
    text-align: center;
    width: 70%;
    color: #495057;
}

.title-servicos2 {
    font-size: 1.625rem;
    font-weight: 700;
    text-align: center;
    width: 70%;
    color: #005F73;
}



span {
    color: #005F73;
}

span2 {
    color: #0A9396;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* Adaptação responsiva */
    gap: 20px;
    width: 80%;
    padding: 20px;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    /* Começa invisível */
    transform: translateX(100%);
    /* Começa fora da tela à direita */
    transition: opacity 1s ease, transform 1s ease;
    /* Transições suaves */
}

.grid-item.visible {
    opacity: 1;
    /* Torna o item visível */
    transform: translateX(0);
    /* Move o item para a posição final */
}

.grid-item:nth-child(1) {
    animation-delay: 0.2s;
}

.grid-item:nth-child(2) {
    animation-delay: 0.4s;
}

.grid-item:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes slideItemIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.grid-item h2 {
    margin-top: 5px;
    font-size: 1.25rem;
    color: #005F73;
    font-weight: 600;
}

.grid-item p {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 1rem;
    color: #495057;
}

.grid-item img {
    margin-top: 15px;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.title-container p {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 1rem;
    width: 80%;
    text-align: center;
    color: #495057;
    line-height: 1.5;
}

.btn-contato2 {
    width: 200px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: #005F73;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    color: #fff;
    font-size: 1rem;
}

.btn-contato2:hover {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    background-color: transparent;
    color: #000;
    border: 1px solid #005F73;
    box-shadow: none;
}

.funcoes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 20px;
    background-color: #ECEFF1;
    padding: 20px;
}

.grid-container2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 20px;
}

.grid-item2 {
    color: #000000ba;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    height: 200px;
    text-align: center;
}

.grid-item2 h2 {
    margin-top: 5px;
    font-size: 1.25rem;
    color: #005F73;
    font-weight: 600;
}


.grid-item2 p {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 1rem;
    color: #495057;
    width: 60%;
}